@import url(fonts.css);

:root{
    --wheat: #fff0d7;
    --dk-blue: #001745;
    --accent-color: #0ebde4;
    --display-font:grandstander;
    --body-font:Arial, Helvetica, sans-serif;
}

body{
    padding:0;margin:0;
    font-family:var(--body-font);
}

h1,h2,h3,h4,h5,h6{
    margin:0;
    font-family:var(--display-font);
}

ol,ul{margin-top:0;}
a{text-decoration:none;color:inherit;}
p{margin-top:0;}
p > a { text-decoration:underline; }
p:last-child,ol:last-child,ul:last-child{
    margin-bottom:0;
}

hr.clear{
    margin:0;
    border:0;
    clear:both;
}

ul li {list-style-type:"★ ";}
ul > *:nth-child(2n){list-style-type:"✮ ";}

span.dont-break {display:inline-block;}

blockquote {
    margin-left: 0.5rem;
    border-left: 3px solid var(--accent-color);
    padding: 1rem;
}

.outline, .outline-hover:hover {
    --color:white;
    --width:2px;
    --width-negative: -2px; 
    filter:
    drop-shadow(var(--width)0 0 var(--color))
    drop-shadow(var(--width-negative) 0 0 var(--color))
    drop-shadow(0 var(--width)0 var(--color))
    drop-shadow(0 var(--width-negative) 0 var(--color));
}

.justified-gallery {
    --space: 5px;
    --min-height: 200px;
}

.justified-gallery {
    display: flex;
    flex-wrap: wrap;
    grid-gap: var(--space);
    list-style: none;
}

.justified-gallery > *{
    width:100%;
    flex-grow: calc(var(--width) * (100000 / var(--height)));
    flex-basis: calc(var(--min-height) * (var(--width) / var(--height)));
    aspect-ratio: var(--width) / var(--height);
    position: relative;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
}

.justified-gallery > * > img {
    top: 0; left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

.yt-embed {
    --embed-thumb: unset;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.yt-embed > iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.yt-embed > button {
    transition: 0.5s;
    content: "";
    display: block;
    z-index: 100;
    position: absolute;
    top:0;
    background-image: var(--embed-thumb);
    background-color: unset;
    background-size: 100%;
    background-position: center;
    border: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    &::after {
        content: var(--embed-title);
        position: absolute;
        display: block;
        color: white;
        font-family: var(--display-font);
        font-size: 1.5rem;
        left: 0.5rem;
        bottom: 0.5rem;
        --color:black;
        --width:2px;
        filter:drop-shadow(var(--width)0 0 var(--color))drop-shadow(calc(-1*var(--width))0 0 var(--color))drop-shadow(0 var(--width)0 var(--color))drop-shadow(0 calc(-1*var(--width)) 0 var(--color))
    }

    &:hover { background-size: 110%; }
}

.tooltip {
    text-decoration:none;
    position:relative;
}
.tooltip span {
    color: #000;
    display:none;
    background: #fff;
    outline: 1px solid #000;
    padding: 0.3rem;
    z-index: 100;
}

.tooltip:hover span {
    display:block;
    position:fixed;
    overflow:hidden;
    z-index: 1000;
}

.tape {
    height: 10%;
    position: relative;
    z-index: 2;
    --scale: 100%;
    --y-offset: 0;
    --rotate: 0;
    --skew: 0;
    transform:translateY(var(--y-offset)) rotate(var(--rotate)) skew(var(--skew)) scale(var(--scale));
}

.tape::after {
    content: "";
    display: block;
    background-image: url(../img/tape.png);
    background-size: auto 200%;
    height:100%;
    max-height:4rem;
    animation:scroll-right 60s infinite linear;
}

@keyframes scroll-right {
    0%{ background-position: 0; }
    100%{ background-position: 100%; }
}

.float-right{float:right;margin-left:1rem;margin-bottom:1rem;display:block;}
.float-left{float:left;margin-right:1rem;margin-bottom:1rem;display:block;}

@media only screen and (max-width: 450px) {
.float-right,.float-left{float:none;margin:1rem auto;}
}

@media only screen and (min-width: 450px) {
    .db-list{columns:2;}
}

.txt-left{text-align: left;}
.txt-center{text-align: center;}
.txt-right{text-align: right;}
    
.checklist > li { list-style-type: "□ "; }

.x { 
    text-decoration: line-through;
    list-style-type: "■ "!important;
}

::selection{
    background-color: var(--accent-color);
    color: black;
}

figure.highlight { position: relative; }
figure.highlight > button {
    display: block;
    top: 1rem; right: 1rem;
    position: absolute;
    background-image: url(../svg/copy.svg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 8px;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

.default-footer {
    margin: 1rem auto;
    user-select: none;
    transition: 0.2s;
}

.default-footer.center { text-align: center; }

.default-footer.center ul {
    align-items: center;
    justify-content: center;
}

.default-footer ul {
    display: inline-flex;
    list-style-position: inside;
    flex-wrap: wrap;
    gap: 1rem;
    padding-left: 0;
    margin-bottom: 0.3rem;
}
.default-footer a:hover { color: var(--accent-color);opacity: 1!important; }
.default-footer > span { display: block; margin-top: 0.5rem;opacity: 0.3; }


.cute-links p > a {
    text-decoration: none;
    display: inline-block;
    font-family: var(--display-font);
    font-weight: 500;
    position: relative;
    z-index: 1;
}

.cute-links p > a::after {
    content: "☐";
    display: inline-block;
    color: #00000000;
    margin-left: 0.2rem;
    background-image: url(../svg/outlink.svg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.cute-links p > a::before{
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-color: var(--accent-color);
  width: 100%;
  height: 0;
  transition: 0.2s;
}

.cute-links p > a:hover::before{ height: 1rem; }